<%- include("header") -%>

<h1>ABOUT US</h1>

<p>HAKLDF ;LASDFK; ADF AS;DF ;ASD F;AF D;ASKJDF;AFHJAK FKHGADFHG AKFDGAKSD FAKHJDSF KAJSG DFKSAJHG FSAKGH FSAKJHDFAYUIEROIU FDASKJHGRDF UEAIYRF UDSHFSADF HSDLFH </p>


<%- include("footer") -%>
